# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/
thesis_draft_methodology_results.md
Thesis_Expose (Oluwaseyi Fadahunsi).docx